<div class="top">
	<h1 id="title" class="hidden"><span id="logo">Laluna <span>Palace</span></span></h1>
</div>
<%= form_for(:session, :url => sessions_path, :html => {:class => 'login-box animated fadeInUp'}) do |f| %>
		<div class="box-header">
			<h2>Đăng Nhập</h2>
		</div>
		<label for="username"><%= t("laluna.label.username") %></label>
		<br/>
		<%= f.text_field :name %>
		<br/>
		<label for="password"><%= t("laluna.label.password") %></label>
		<br/>
		<%= f.password_field :password %>
		<br/>
		<%= f.submit t("laluna.label.login"), :class => "loginBtn" %>
		<br/>
		<a href="#"><p class="forgotpass small"><%= t("laluna.label.forgot_password") %></p></a>
	<% end %>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>