<div style="background-color: white; padding: 20">
    
<h2>Privacy Policy</h2>
<p>LaLuna Bar & Restaurant built the La Luna Da Nang app as a free app. This SERVICE is provided by LaLuna Bar & Restaurant at no cost and is intended
    for use as is.</p>
<p>This page is used to inform website visitors regarding our policies with the collection, use, and
    disclosure of Personal Information if anyone decided to use our Service.</p>
<p>If you choose to use our Service, then you agree to the collection and use of information in
    relation with this policy. The Personal Information that We collect are used for providing and
    improving the Service. We will not use or share your information with anyone except as described
    in this Privacy Policy.</p>
<p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,
    which is accessible at La Luna Da Nang, unless otherwise defined in this Privacy Policy.</p>

<p><strong>Information Collection and Use</strong></p>
<p>For a better experience while using our Service, We may require you to provide us with certain
    personally identifiable information, including but not limited to users name,pictures. 
	The information that We request is retained on your device and will be retained by us and used as described in this privacy policy.</p>

<p><strong>Log Data</strong></p>
<p>We want to inform you that whenever you use our Service, in case of an error in the app We collect
    data and information (through third party products) on your phone called Log Data. This Log Data
    may include information such as your devices’s Internet Protocol (“IP”) address, device name,
    operating system version, configuration of the app when utilising Our Service, the time and date
    of your use of the Service, and other statistics.</p>

<p><strong>Security</strong></p>
<p>We value your trust in providing us your Personal Information, thus we are striving to use
    commercially acceptable means of protecting it. But remember that no method of transmission over
    the internet, or method of electronic storage is 100% secure and reliable, and we cannot
    guarantee its absolute security.</p>


<p><strong>Changes to This Privacy Policy</strong></p>
<p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page
    periodically for any changes. We will notify you of any changes by posting the new Privacy Policy
    on this page. These changes are effective immediately, after they are posted on this page.</p>

<p><strong>Contact Us</strong></p>
<p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact
    us.</p>
</div>