<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= t("laluna.menu.location_management") %><small></small></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <%= form_for [:admin, @location], :html => {:class => 'form-horizontal form-label-left'} do |f| %>
              </p>
              <span class="section"><%= t("laluna.label.add_location") %></span>

              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"><%= t("laluna.select_language") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.select :language_id, Language.where(delete_flag: 0).all.collect {|x| [x.name, x.id]},{:include_blank => t("laluna.select_language")}, class:'form-control' %>
                  </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description"><%= t("laluna.label.location_name") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :name, class:'form-control col-md-7 col-xs-12', required: 'require' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description"><%= t("laluna.label.location_address") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :address, class:'form-control col-md-7 col-xs-12', required: 'require' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description"><%= t("laluna.label.location_phone") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :phone, class:'form-control col-md-7 col-xs-12', required: 'require' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description"><%= t("laluna.label.location_latitude") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :latitude, class:'form-control col-md-7 col-xs-12', required: 'require' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description"><%= t("laluna.label.location_longitude") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :longitude, class:'form-control col-md-7 col-xs-12', required: 'require' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description"><%= t("laluna.label.category_name") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.select :category_ids, Category.where(delete_flag: 0).all.collect {|x| [x.name, x.id]},{:include_blank => t("laluna.select_category")}, class:'form-control js-example-basic-multiple', "multiple" => "multiple", required: 'require'  %>
                  </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description"><%= t("laluna.label.location_desc") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.cktext_area :description, class: 'form-control col-md-7 col-xs-12', rows: '10'%>
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <%= link_to t("laluna.label.cancel"), new_admin_role_path, class:'btn btn-primary' %>
                  <%= f.submit t("laluna.label.confirm"), class:'btn btn-success' %>
                </div>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>