<div class="right_col" role="main">
  <!-- top tiles -->
  <!--<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> <%= t("laluna.label.num_of_reservation") %></span>
      <div class="count">0</div>
      <span class="count_bottom"><i class="green">4% </i> <%= t("laluna.label.from_last_week") %></span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-clock-o"></i> <%= t("laluna.label.num_of_completed") %></span>
      <div class="count">123.50</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> <%= t("laluna.label.from_last_week") %></span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> <%= t("laluna.label.num_of_cancel") %></span>
      <div class="count green">2,500</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> <%= t("laluna.label.from_last_week") %></span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> <%= t("laluna.label.num_of_customer") %></span>
      <div class="count">4,567</div>
      <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> <%= t("laluna.label.from_last_week") %></span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> <%= t("laluna.label.num_of_adult") %></span>
      <div class="count">2,315</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> <%= t("laluna.label.from_last_week") %></span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> <%= t("laluna.label.num_of_child") %></span>
      <div class="count">7,325</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> <%= t("laluna.label.from_last_week") %></span>
    </div>
  </div>-->
  <!-- /top tiles -->
  <div class="">
    <div class="page-title">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><%= t("laluna.menu.reservation_management") %></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div id='calendar'></div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- calendar modal -->
  <div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">New Calendar Entry</h4>
        </div>
        <div class="modal-body">
          <div id="testmodal" style="padding: 5px 20px;">
            <form id="antoform" class="form-horizontal calender" role="form">
              <div class="form-group">
                <label class="col-sm-3 control-label">Title</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="title" name="title">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                  <textarea class="form-control" style="height:55px;" id="descr" name="descr"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary antosubmit">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel2"><%= t("laluna.label.reservation_detail") %></h4>
        </div>
        <div class="modal-body">

          <div id="testmodal2" style="padding: 5px 20px;">
            <form id="antoform2" class="form-horizontal calender" role="form">
              <div class="form-group">
                <label class="col-sm-3 control-label"><%= t("laluna.label.reservation_name") %></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="reservationName" name="reservationName" readonly="readonly">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label"><%= t("laluna.label.reservation_date") %></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="reservationDate" name="reservationDate" readonly="readonly">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label"><%= t("laluna.label.reservation_time") %></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="reservationTime" name="reservationTime" readonly="readonly">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label"><%= t("laluna.label.adult") %></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="adult" name="adult" readonly="readonly">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label"><%= t("laluna.label.child") %></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="child" name="child" readonly="readonly">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label"><%= t("laluna.label.location_name") %></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="locname" name="locname" readonly="readonly">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label"><%= t("laluna.label.reservation_company") %></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="resuser" name="resuser" readonly="readonly">
                </div>
              </div>

            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default antoclose2" data-dismiss="modal"><%= t("laluna.label.confirm") %></button>
          <!--<button type="button" class="btn btn-primary antosubmit2">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>

  <div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
  <div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
  <!-- /calendar modal -->
  
</div>