<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= t("laluna.menu.reservation_management") %> <small></small></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="<%= t("laluna.menu.search_for")%>">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render 'partials/admin/notification' %>
        <div class="x_panel">
          <%= link_to t("laluna.label.add_new"), new_admin_reservation_path, class: "btn btn-success pull-right" %>
          
          <div class="x_content">
             
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th>
                      <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="column-title">ID </th>
                    <th class="column-title"><%= t("laluna.label.restaurant_name")%></th>
                    <th class="column-title"><%= t("laluna.label.reservation_name")%></th>
                    <th class="column-title" style="text-align:center"><%= t("laluna.label.reservation_date")%></br>(dd/mm/yyyy)</th>
                    <th class="column-title" style="text-align:center"><%= t("laluna.label.reservation_time")%></th>
                    <th class="column-title" style="text-align:center"><%= t("laluna.label.adult")%></th>
                    <th class="column-title" style="text-align:center"><%= t("laluna.label.child")%></th>
                    <th class="column-title"><%= t("laluna.label.status")%></th>
                    <th class="column-title no-link last"><span class="nobr"><%= t("laluna.label.action") %></span>
                    </th>
                    
                  </tr>
                </thead>

                <tbody>
                  <% @reservations.each_with_index do |f,index| %>
                    <tr class="even pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      
                      <% if params[:page].nil? %>
                        <td class=" "><%= index + 1 %></td>  
                      <% elsif params[:page].to_i > 0 %>
                        <td class=" "><%= ((params[:page].to_i - 1) * 20)+(index + 1) %></td>  
                      <% else %>
                        <td class=" "><%= index + 1 %></td>
                      <% end %>
                      
                      <% if I18n.locale == :vi %>
                        <td class=" "><%= LocationTranslation.find_by(location_id: f.location_id, language_id: 1).name %> </td>
                      <% elsif I18n.locale == :en %>
                        <td class=" "><%= LocationTranslation.find_by(location_id: f.location_id, language_id: 2).name %> </td>
                      <% end %>
                      <td class=" "><%= f.name %> </td>
                      <td class=" " style="text-align:center"><%= f.reservation_date.nil? ? "" : f.reservation_date.strftime("%d/%m/%Y") %></td>
                      <td class=" " style="text-align:center"><%= f.hours %> : <%= f.minutes %> </td>
                      <td class=" " style="text-align:center"><%= f.adult %> </td>
                      <td class=" " style="text-align:center"><%= f.child %> </td>
                      <td class=" "><%= f.reservation_status.name %> </td>
                      <td class=" ">
                        <% if f.reservation_status_id == 1 %>
                          <!-- check if your're the owner of this local -->
                          <% if Location.where(user_id: current_user.id, id: f.location_id).length > 0 %>
                            <%= link_to t("laluna.messages.customer_come"), confirmReservationOK_admin_reservations_path(f), class:'btn btn-success', method: :post, data: {confirm: t("laluna.messages.confirm_res_ok")} %> 
                            <%= link_to t("laluna.messages.customer_not_come"), confirmReservationNoK_admin_reservations_path(f), class:'btn btn-danger', method: :post, data: {confirm: t("laluna.messages.confirm_res_nok")} %> 
                          <% end %>
                          
                          <%= link_to t("laluna.label.edit"), edit_admin_reservation_path(f), class:'btn btn-primary' %> 
                          <%= link_to t("laluna.label.cancel"), cancelReservation_admin_reservations_path(f), class:'btn btn-warning', method: :post, data: {confirm: t("laluna.messages.confirm_cancel")} %>
                        <% end %>
                      </td>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <span class="pull right"><%= will_paginate @reservations, renderer: BootstrapPagination::Rails %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>