<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= t("laluna.menu.reservation_management") %><small></small></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <%= render 'partials/admin/notification' %>
          <div class="x_content">
            <%= form_for [:admin, @reservation], :html => {:class => 'form-horizontal form-label-left'} do |f| %>
              </p>
              <span class="section"><%= t("laluna.label.add_reservation") %></span>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"><%= t("laluna.label.restaurant_name") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <% if I18n.locale == :vi %>
                    <%= f.select :location_id, Location.joins(:connections, :location_translations).where(['connections.user_id = ?',current_user.id]).where('location_translations.language_id = 1').all.collect {|x| [x.location_translations[0].name, x.id]},{:include_blank => t("laluna.label.restaurant_name")}, class:'form-control', 'required' => 'required' %>
                  <% elsif I18n.locale == :en %>
                    <%= f.select :location_id, Location.joins(:connections, :location_translations).where(['connections.user_id = ?',current_user.id]).where('location_translations.language_id = 2').all.collect {|x| [x.location_translations[0].name, x.id]},{:include_blank => t("laluna.label.restaurant_name")}, class:'form-control', 'required' => 'required' %>
                  <% end %>
                  </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"><%= t("laluna.label.reservation_name") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :name, class:'form-control col-md-7 col-xs-12', placeholder:'', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"><%= t("laluna.label.reservation_date") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12 xdisplay_inputx">
                    <!--<input type="text" class="form-control has-feedback-left" id="single_cal3" placeholder="First Name" aria-describedby="inputSuccess2Status3">-->
                    <%= f.text_field :reservation_date, class:'form-control has-feedback-left', id:'single_cal3', placeholder:'First Name', "aria-describedby" => "inputSuccess2Status3" %>
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                    <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"><%= t("laluna.label.reservation_time") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="col-md-2">
                   <%= t("laluna.label.hour") %> <%= f.number_field :hours, class:'form-control col-md-7 col-xs-12', placeholder:'', 'required' => 'required', "data-validate-minmax" => "1,24" %>  
                  </div>
                  <div class="col-md-2">
                   <%= t("laluna.label.minute") %> <%= f.number_field :minutes, class:'form-control col-md-7 col-xs-12', placeholder:'', 'required' => 'required', "data-validate-minmax" => "0,60" %>  
                  </div>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"><%= t("laluna.label.counting") %><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="col-md-2">
                   <%= t("laluna.label.adult") %> <%= f.number_field :adult, class:'form-control col-md-7 col-xs-12', placeholder:'', 'required' => 'required', "data-validate-minmax" => "0,1000" %>  
                  </div>
                  <div class="col-md-2">
                    <%= t("laluna.label.child") %> <%= f.number_field :child, class:'form-control col-md-7 col-xs-12', placeholder:'', 'required' => 'required', "data-validate-minmax" => "0,1000" %>  
                  </div>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description"><%= t("laluna.label.note") %>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :description, class:'form-control col-md-7 col-xs-12' %>
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <%= link_to t("laluna.label.cancel"), new_admin_reservation_path, class:'btn btn-primary' %>
                  <%= f.submit t("laluna.label.confirm"), class:'btn btn-success' %>
                </div>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>