<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Laluna Palace | <%= t "laluna.administrator_title" %></title>  
  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        
        <%= render 'partials/admin/menu' %>

        <%= render 'partials/admin/topnavigation' %>
        
        <!-- page content -->
        <%= yield %>
        <!-- /page content -->
        <%= render 'partials/admin/footer' %>
      </div>
    </div>
  </body>
</body> 
</html>