<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= t("laluna.menu.list_restaurant") %> <small></small></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="<%= t("laluna.menu.search_for") %>">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
             
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th>
                      <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="column-title"># </th>
                    <th class="column-title"><%= t("laluna.label.restaurant_name")%></th>
                    <th class="column-title"><%= t("laluna.label.location_address") %></th>
                    <th class="column-title"><%= t("laluna.label.location_phone") %></th>
                    <th class="column-title no-link last"><span class="nobr"><%= t("laluna.label.action") %></span>
                    </th>
                    
                  </tr>
                </thead>

                <tbody>
                  <% @restaurants.each_with_index do |f, index| %>
                    <tr class="even pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" "><%= index + 1 %></td>
                      <td class=" "><%= f.location_translations[0].name %> </td>
                      <td class=" "><%= f.location_translations[0].address %></td>
                      <td class=" "><%= f.phone %></td>
                      <td class=" ">
                          <% if isConnected(current_user.id, f.id) %>
                            <%= link_to t("laluna.label.connected"), "#", class:'btn btn-success' %>
                          <% else %>
                            <%= link_to t("laluna.label.connect"), makeConnection_admin_restaurants_path(f.id), class:'btn btn-primary', method: :get, data: {confirm: t("laluna.messages.make_connection")} %>
                          <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>