<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= t("laluna.menu.table_management") %> <small></small></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="<%= t("laluna.menu.search_for")%>">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <%= link_to t("laluna.label.add_new"), new_admin_table_path, class: "btn btn-success pull-right" %>
          
          <div class="x_content">
             
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th>
                      <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="column-title">ID </th>
                    <th class="column-title"><%= t("laluna.label.table_name")%></th>
                    <th class="column-title"><%= t("laluna.label.description") %></th>
                    <th class="column-title"><%= t("laluna.label.created_date") %></th>
                    <th class="column-title"><%= t("laluna.label.updated_date") %></th>
                    <th class="column-title no-link last"><span class="nobr"><%= t("laluna.label.action") %></span>
                    </th>
                    
                  </tr>
                </thead>

                <tbody>
                  <% @tables.each do |f| %>
                    <tr class="even pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" "><%= f.id %></td>
                      <td class=" "><%= f.name %> </td>
                      <td class=" "><%= f.description %></td>
                      <td class=" "><%= f.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
                      <td class=" "><%= f.created_at.to_time.strftime('%B %e at %l:%M %p') %> </td>
                      <td class=" "><%= link_to t("laluna.label.edit"), edit_admin_table_path(f), class:'btn btn-primary' %> 
                        <%= link_to t("laluna.label.delete"), admin_table_path(f), class:'btn btn-danger', method: :delete, data: {confirm: t("laluna.messages.confirm_delete")} %>
                      </td>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>