<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="#" class="site_title"><i class="fa fa-moon-o"></i> <span>Laluna Palace</span></a>
    </div>
    
    <div class="clearfix"></div>
    
    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <%= image_tag("img.jpg", class: "img-circle profile_img", alt: "...") %>
      </div>
      <div class="profile_info">
        <span><%= t("laluna.welcome") %>,</span>
        <h2><%= current_user.name %></h2>
      </div>
    </div>
    <!-- /menu profile quick info -->
    
    <br />
    
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3><%= t("laluna.menu.general") %></h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> <%= t("laluna.menu.general") %> <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li>
                <%= link_to "Dashboard", admin_dashboard_index_path %>
              </li>
            </ul>
          </li>
          <% if is_admin? %>
          <li><a><i class="fa fa-desktop"></i> <%= t("laluna.menu.information") %><span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><%= link_to t("laluna.menu.user_management"), admin_users_path %></li>
              <li><%= link_to t("laluna.menu.role_management"), admin_roles_path %></li>
              <li><%= link_to t("laluna.menu.reservation_status_management"), admin_reservation_statuses_path %></li>
              <li><%= link_to t("laluna.menu.language_management"), admin_languages_path %></li>
              <li><%= link_to t("laluna.menu.category_management"), admin_categories_path %></li>
              <li><%= link_to t("laluna.menu.request_status_manager"), admin_request_statuses_path %></li>
            </ul>
          </li>
          
          <li><a><i class="fa fa-desktop"></i> <%= t("laluna.menu.location_management") %><span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><%= link_to t("laluna.label.list_location"), admin_locations_path %></li>
            </ul>
          </li>
          <% end %>
          <li><a><i class="fa fa-coffee"></i> <%= t("laluna.menu.restaurant_management") %><span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><%= link_to t("laluna.menu.list_restaurant"), admin_restaurants_path %></li>
              <li><%= link_to t("laluna.menu.reservation_management"), admin_reservations_path %></li>
            </ul>
          </li>
          <% if is_admin? %>
          <li><a><i class="fa fa-shopping-cart"></i> <%= t("laluna.menu.material_management") %><span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><%= link_to t("laluna.menu.list_material"), admin_materials_path %></li>
              <li><%= link_to t("laluna.menu.order_location"), admin_order_locations_path %></li>
              <li><%= link_to t("laluna.menu.material_order"), admin_material_orders_path %></li>
            </ul>
          </li>
          <li><a><i class="fa fa-shopping-cart"></i> <%= t("laluna.menu.laluna_management") %><span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><%= link_to t("laluna.menu.table_management"), admin_tables_path %></li>
              <li><%= link_to t("laluna.menu.dish_management"), admin_dishes_path %></li>
            </ul>
          </li>
          <li><a><i class="fa fa-shopping-cart"></i> <%= t("laluna.menu.request_management") %><span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><%= link_to t("laluna.menu.role_request"), admin_role_requests_path %></li>
              <li><%= link_to t("laluna.menu.pro_request"), "#" %></li>
            </ul>
          </li>
          <li><a><i class="fa fa-bar-chart-o"></i> <%= t("laluna.menu.statistics") %> <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#"><%= t("laluna.menu.statistics") %></a></li>
            </ul>
          </li>
          <% end %>
          <!--<li><a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="general_elements.html">General Elements</a></li>
              <li><a href="media_gallery.html">Media Gallery</a></li>
              <li><a href="typography.html">Typography</a></li>
              <li><a href="icons.html">Icons</a></li>
              <li><a href="glyphicons.html">Glyphicons</a></li>
              <li><a href="widgets.html">Widgets</a></li>
              <li><a href="invoice.html">Invoice</a></li>
              <li><a href="inbox.html">Inbox</a></li>
              <li><a href="calendar.html">Calendar</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="tables.html">Tables</a></li>
              <li><a href="tables_dynamic.html">Table Dynamic</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="chartjs.html">Chart JS</a></li>
              <li><a href="chartjs2.html">Chart JS2</a></li>
              <li><a href="morisjs.html">Moris JS</a></li>
              <li><a href="echarts.html">ECharts</a></li>
              <li><a href="other_charts.html">Other Charts</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
              <li><a href="fixed_footer.html">Fixed Footer</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu_section">
        <h3>Live On</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="e_commerce.html">E-commerce</a></li>
              <li><a href="projects.html">Projects</a></li>
              <li><a href="project_detail.html">Project Detail</a></li>
              <li><a href="contacts.html">Contacts</a></li>
              <li><a href="profile.html">Profile</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="page_403.html">403 Error</a></li>
              <li><a href="page_404.html">404 Error</a></li>
              <li><a href="page_500.html">500 Error</a></li>
              <li><a href="plain_page.html">Plain Page</a></li>
              <li><a href="login.html">Login Page</a></li>
              <li><a href="pricing_tables.html">Pricing Tables</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#level1_1">Level One</a>
                <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li class="sub_menu"><a href="level2.html">Level Two</a>
                    </li>
                    <li><a href="#level2_1">Level Two</a>
                    </li>
                    <li><a href="#level2_2">Level Two</a>
                    </li>
                  </ul>
                </li>
                <li><a href="#level1_2">Level One</a>
                </li>
            </ul>
          </li>                  
          <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>-->
        </ul>
      </div>
    
    </div>
    <!-- /sidebar menu -->
    
    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <%= link_to dang_xuat_path do %>
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      <% end %>
    </div>
    <!-- /menu footer buttons -->
    </div>
</div>